:root {
  --main-color: #4a0a4a;
  --secondary-color: #e906bf;
  --optional-color: #a91079;
  --dark-main: #260326;
  --light-main: #831183;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background-color: var(--optional-color);
  color: #fff;
}

body {
  padding-top: 20px;
}

table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-bottom: 2px solid #999;
  border-top: 2px solid #999;
  margin: 20px 0;
  padding: 40px;
}

th,
td {
  padding: 20px 40px;
  text-align: left;
}

tr {
  width: 100%;
}

.edit-form {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  transform: translateX(-50%);
  padding: 30px 40px;
  height: 10vh;
}

.btn-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3em;
}

.input-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.space {
  height: 100px;
}

label {
  margin: 0 10px;
}

input[type="submit"],
input[type="reset"] {
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  color: #fff;
  margin: 0 10px;
  letter-spacing: 0.1em;
}

.apply {
  background-color: #218838;
}

.delete {
  background-color: #c82333;
}

.edit {
  background-color: #0069d9;
}

.reset {
  background-color: #e0a800;
}

.quit {
  background-color: #5a6268;
}

.create-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #23272b;
  margin-bottom: 10px;
}

.create-form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 10px 0;
}

#create-user {
  margin: 0 10px;
  display: inline-block;
}

.error {
  color: #fff;
  background-color: #ef5350;
  border: 2px solid #db3936;
  border-radius: 3px;
  position: absolute;
  top: 10;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  margin-top: 0.3em;
  padding: 10px 20px;
  font-size: 0.8em;
  text-align: center;
}

.exit-link {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  text-decoration: underline;
}
